{% extends 'base.html' %}

{% block content %}

        <!--================End Main Header Area =================-->
        <section class="banner_area">
        	<div class="container">
        		<div class="banner_text">
        			<h3>Корзина</h3>
        			<ul>
        				<li><a href="{% url 'index' %}">Главная</a></li>
        				<li><a href="#">Корзина</a></li>
        			</ul>
        		</div>
        	</div>
        </section>
        <!--================End Main Header Area =================-->
	
        <!--================Cart Table Area =================-->
        <section class="cart_table_area p_100">
			
				<div class="container">
					<div class="table-responsive">
						<table class="table">
							<thead>
								<tr>
									<th scope="col">Просмотр</th>
									<th scope="col">Продукт</th>
									<th scope="col">Цена</th>
									<th scope="col">Количество</th>	
									<th scope="col">Итог</th>
									<!-- <th scope="col"></th> -->
								</tr>
							</thead>
							<tbody>
								{% for item in cart %}
								<tr>
									<td>
										<img src="{{ item.product.image.url }}" alt="">
									</td>
									<td>{{item.product.name}}</td>
									<td>{{item.product.price}}сом</td>
									<td>
										{{item.quantity}}
									</td>
									<td>{{item.total_price}} сом</td>
									<td> <a class="pest_btn"></a><a href="{% url 'remove_cart' item.product.id %}">Удалить</a></td>
								</tr>
								{% empty %}
									<tr>
										<td>
											Выберите продукты
										</td>
									</tr>
								{% endfor %}
								<tr>
									
								</tr>
							
							</tbody>
						</table>
					</div>
					<div class="row cart_total_inner">
						<div class="col-lg-7"></div>
						<div class="col-lg-5">
							<div class="cart_total_text">
								<div class="cart_head">
									Общая сумма
								</div>
								<!-- <div class="sub_total">
									<h5>Sub Total <span>$25.00</span></h5>
								</div> -->
								<div class="total">
									<h4>Итог <span>{{cart.get_total_price}} cом</span></h4>
								</div>
							
								<div class="cart_footer">
									<a class="pest_btn" href="{% url 'clear_cart' %}">Очистить</a> 
									<a class="pest_btn" href="{% url 'purchase' %}" data-bs-toggle="modal" data-bs-target="#modal-report">
										Оформить заказ
									</a>
										{% if not request.user.is_authenticated %}
											<a href="{% url 'sign_in' %}"></a>
										{% endif %}
								</div>
							</div>
						</div>
					</div>
				</div>
			
        </section>
        <!--================End Cart Table Area =================-->
        
        <!--================Newsletter Area =================-->
        <section class="newsletter_area">
			<div class="container">
				<div class="row newsletter_inner">
					<div class="col-lg-6">
						<div class="news_left_text">
							<h4>Подпишитесь на наш инстаграм</h4>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="newsletter_form">
							<div class="float-left">
							
								<a href="https://www.instagram.com/donut_city_bishkek/"><h4 style="color:aliceblue">donut_city_bishkek <i class="fa fa-instagram" style="color:aliceblue"></h4></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
        <!--================End Newsletter Area =================-->
 
{% endblock %}