{% extends 'base.html' %}

{% block content %}

        <!--================End Main Header Area =================-->
        <section class="banner_area">
        	<div class="container">
        		<div class="banner_text">
        			<h3>Информация о продукте</h3>
        			<ul>
        				<li><a href="index.html">Home</a></li>
        				<li><a href="product_details.html">Product Details</a></li>
        			</ul>
        		</div>
        	</div>
        </section>
        <!--================End Main Header Area =================-->
        
        <!--================Product Details Area =================-->
        <section class="product_details_area p_100">
        	<div class="container">
        		<div class="row product_d_price">
        			<div class="col-lg-6">
						
								<div class="product_img"><img class="img-fluid" src="{{object.image.url}}" alt=""></div>
							</div>
							<div class="col-lg-6">
									<div class="product_details_text">
										<h4>{{product.name}}</h4>
										<p>{{product.description}}</p>
										<h5>Цена :<span>{{product.price}}</span></h5>
										<div class="quantity_box">
										</div>
									</div>
							</div>
						
        		</div>
        		<div class="product_tab_area">
					<nav>
					</nav>
					
        		</div>
        	</div>
        </section>
        <section class="newsletter_area">
			<div class="container">
				<div class="row newsletter_inner">
					<div class="col-lg-6">
						<div class="news_left_text">
							<h4>Подпишитесь на наш инстаграм</h4>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="newsletter_form">
							<div class="float-left">
							
								<a href="https://www.instagram.com/donut_city_bishkek/"><h4 style="color:aliceblue">donut_city_bishkek <i class="fa fa-instagram" style="color:aliceblue"></h4></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
        <!--================End Newsletter Area =================-->
        
{% endblock %}