{% extends 'base.html' %}

{% block content %}

	<section class="banner_area">
		<div class="container">
			<div class="banner_text">
				<h3>Покупка</h3>
				<ul>
					<li><a href="{% url 'index' %}">Главная</a></li>
					<li><a href="{% url 'product_list' %}">Покупки</a></li>
				</ul>
			</div>
		</div>
	</section>
	<!--================End Main Header Area =================-->

	<!--================Product Area =================-->
	<section class="product_area p_100">
		<div class="container">
			<div class="row product_inner_row">
				<div class="col-lg-9">
				
					<div class="row product_item_inner">
						{% for product in object_list %}
							<div class="col-lg-4 col-md-4 col-6">
								<div class="cake_feature_item">
									<div class="cake_img">

										<img src="{{product.image.url}}" alt="">
									</div>
									<div class="cake_text">
										<h4>{{product.price}}</h4>
										<h3>{{product.name}}</h3>
										<a class="cake_text" href="{% url 'product_detail' product.id %}"> Информация </a>
										<a class="pest_btn" href="{% url 'add_cart' product.id %}">Добавить в корзину</a>
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
					<div class="product_pagination">
						<div class="left_btn">
							{% if page_obj.has_previous %}
								<li class=" {% if not page_previous %} active {% endif %}"><a class="page-link" href="?page={{page_obj.previous_page_number}}">Назад</a></li>
							{% endif %}
							<!-- <a href="#"><i class="lnr lnr-arrow-left"></i> New posts</a>  -->
						</div>
						<div class="middle_list">
							<nav aria-label="Page navigation example">
								<ul class="pagination">
								<!-- <li class="lnr lnr-arrow-left"><a class="page-link" href="#">Назад</a></li> -->
								{% for i in paginator.page_range %}
								{% if page_obj.number == i %}
									<li class="page-item active"><a class="page-link" href="?page={{page_obj.number}}">
										{{page_obj.number}}
									</a>
									</li>
								{% else %}

									<li class="page-item"><a class="page-link" href="?page={{i}}">
										{{i}}
									</a>
								</li>
								{% endif %}

								{% endfor %}
							{% if page_obj.has_next %}
								<li class="page-item {% if not page_obj.has_next %} disabled {% endif %}">
									<a class="page-link" href="?page={{page_obj.next_page_number}}">next</a></li>
							{% endif %}
								</ul>
							</nav>
						</div>
						<!-- <div class="right_btn"><a href="#">Older posts <i class="lnr lnr-arrow-right"></i></a></div> -->
					</div>
				</div>
				<div class="col-lg-3">
					<div class="product_left_sidebar">
						<aside class="left_sidebar search_widget">
						</aside>
						<aside class="left_sidebar p_catgories_widget">
							<div class="p_w_title">
								<h3>Категории продуктов</h3>
							</div>
							<ul class="list_style">
								{% for category in categories %}
								<li><a href="{% url 'category_products' category.slug %}">{{category.name}}</a></li>
								{% endfor %}
							</ul>
							
						</aside>
						<!-- <aside class="left_sidebar p_price_widget">
							<div class="p_w_title">
								<h3>Фильтрация по ценам</h3>
								<div class="filter_price">
									<div id="slider-range"></div>
       								<label for="amount">Price range:</label>
									<input type="text" id="amount" readonly />
       								<a href="#">Фильтрация</a>
        						</div>
							</div>
						</aside> -->
						
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Product Area =================-->

	<!--================Newsletter Area =================-->
	<section class="newsletter_area">
		<div class="container">
			<div class="row newsletter_inner">
				<div class="col-lg-6">
					<div class="news_left_text">
						<h4>Подпишитесь на наш инстаграм</h4>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="newsletter_form">
						<div class="float-left">
						
							<a href="https://www.instagram.com/donut_city_bishkek/"><h4 style="color:aliceblue">donut_city_bishkek <i class="fa fa-instagram" style="color:aliceblue"></h4></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	{% endblock %}